
body{
    background-color: #33332d;
    color:#fff;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
}

.head-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

.logo{
    font-size: 25px;
}


.select-btn{
    border: 2px solid gray;
    border-radius: 10px;
    width: 70%;
}

.main-page{
   
    min-height: 100vh;
}

.section1{  
display: flex;
margin: auto;
padding: 40px;
justify-content: space-evenly;
align-items: center;
gap:50px;
}

.section1 h1{
    font-size: 60px;
}

.section1-div1{
    max-width: 1000px;
    margin-left: 20px;
    margin: auto;
    display: flex; 
    flex-direction: column;
     gap: 30px;
}

.section1-div1 .span1{
    font-size: 26px;
}
.section1-div1 button{
    font-size: 20px;
    padding: 15px;
    background-color: #33332d;
    color: #fff;
    border: 3px solid #fff;
    width: 150px;
    box-shadow: -5px 5px #fff;
}
.section1-div1 .span2{
    font-size: 17px;
    width: 760px;
}

.section1-div2{
padding: 65px;
}

.section2{  
    display: flex;
    margin: auto;
    padding: 40px;
    justify-content: center;
    align-items: flex-start;
    gap:50px;
}

.section2-div1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 530px;
}
.section2-div2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 500px;
}